body {
    margin: 0;
    background-color: #cfcece;
}

.title {
    text-align: center;
    background-color: #c5cae9;
}

.title h1 {
    margin-top: 0;
    padding-top: 1rem;
}

.menu_bar {
    display: flex;
    flex-grow: 1;
    background-color: #5c6bc0;
    padding-left: 5em;
    color: whitesmoke;
}

.menu_links {
    background-color: #5c6bc0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 92%;
    align-items: center;
}

.menu_links > p {
    padding: 4px;
    margin: 0;
}

.menu_links > p:hover {
    background-color: #747ebb;
    border-radius: 4px;
    cursor: pointer;
}

.side {
    display: flex;
}

nav {
    background-color: white;
    width: 30%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 2rem;
}

nav > h2 {
    width: 80%;
    border-bottom: 2px solid rgba(0, 0, 0, 0.26);
    padding: 0.3em 0em 1em 0em;
}

.destaque {
    margin-left: 2rem;
    width: 80%;
    padding: 0.3em 0em 1em 0em;
    border-bottom: 2px solid rgba(128, 128, 128, 0.247);
}

.destaque > h4 {
    text-decoration-line: underline;
}

.destaque:hover {
    cursor: pointer;
}

main {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.cards {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color: white;
    padding: 2rem;
    max-width: 25rem;
    margin: 10px;
    border-radius: 2px;
    cursor: pointer;
}

.card > strong {
    color: #5c6bc0;
    font-size: 20px;
    display: block;
}

.card > img {
    height: 50px;
}

.imagecard {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.imagecard > img {
    height: 160px;
}

.imagecard > h2 {
    display: inline;
}

.nomargin {
    margin: 0;
    padding: 0 0 0 1rem;
}
